*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    width: 100%;
    padding: 60px;
}

input{
    color:gray;
    font-size: 1.3em;
}
.card-grid{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.card{
    align-content: center;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 10px  ;
}

.card p{
    padding: 5px;
    text-align: center;
}
.card img{
    max-height: 180px;
    width: 100%;
}